@charset "UTF-8";
body {
	font-family: 'Kavivanar', cursive;
	display: grid;
	grid-template-columns: 10% auto;
	grid-template-rows: auto;
}
#navbar{
	border: 5px solid black;
}
#navbar ul{
	list-style-type: none;
	font-size: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}
#header {
	border: 5px solid black;
	background-color: #DCDCDC;
	display: block;
	margin: 5em 2em 0 2em;
}
#header h1 {
	margin-left: 20px;
	margin-bottom: 0px;
}
#header h3 {
	color: #696969;
	margin-left: 20px;
	margin-top: 0px;
}
#wrapper {
	grid-column: 2 / 3;
	margin: 1em 2em 0 2em;
}
@media screen and (max-width:769px) {
	
}
/* Mobile view */
@media screen and (max-width:480px) {

}
